.about-container {
  @include container-style;
}

.about-sections {
  @include section-style;
}

.about-block {
  flex: 1;
  min-width: 300px;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;

  p {
    margin: 4rem 0;
  }

  @include small-screen-padding;
}

.tech-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;

  @media (max-width: 321px) {
    margin: 15px;
  }

  .tech-icon {
    @include flex-column;
    align-items: center;
    color: $color-electric-blue;
    transition: transform 0.3s ease, color 0.3s ease;

    &:hover {
      transform: scale(1.1);
      color: $color-text-muted;
    }

    svg {
      margin-bottom: 0.5rem;
    }

    span {
      font-size: 1rem;
      color: $color-text-dark;
    }
  }
}
