.app.dark {
  background-color: $color-black;
  color: $color-white;

  .dynamic-text {
    color: $color-electric-blue;
  }

  h1 {
    color: $color-white;
  }

  .about-container span {
    color: $color-white;
  }

  .project {
    .technologies {
      color: $color-black;
    }

    .lighthouse-scores {
      color: $color-black;
      .score-label {
        color: $color-black;
      }
    }
  }

  .links-column i {
    color: $color-white !important;

    &:hover {
      color: $color-electric-blue !important;
    }
  }

  .methodology-container {
    .keywords {
      .keyword {
        color: $color-black;
      }
    }

    .key-stat {
      .stat-value {
        color: $color-black;
      }
    }
  }
}

.btn-dark-mode {
  width: 52px;
  height: 42px;
}