.social-media-container {
  text-align: center;
  padding: 1rem;
  padding-top: 1.875rem;
  border-radius: 10px;
  background-color: $color-light-gray;
  width: 300px;
  height: auto;
  margin-top: 4rem;

  a {
    display: block;
    margin-bottom: 1rem;
    text-decoration: none;
    color: $color-text-dark;
    font-size: 1.5em;
    transition: color 0.3s ease;

    &:hover {
      color: $color-electric-blue;
    }

    i {
      margin-right: 20px;
    }
  }
}