.text-animator-container {
  @include flex-column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.text-animator {
  font-size: 4em;
  text-align: center;
  margin-bottom: 2rem;
  font-family: $font-family-primary;

  p {
    margin: 0;
  }

  @media (max-width: 1024px) {
    font-size: 3.5rem;
  }

  @media (max-width: 768px) {
    font-size: 2.5em;
  }
}

.dynamic-text {
  width: 100%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  font-weight: $font-weight-bold;
  border-right: none;
  animation: none;
  min-height: 1.5em;

  @media (max-width: 426px) {
    white-space: normal;
    text-align: center;
  }
}
