.text-animator-container {
  @include flex-column;
  @include flex-center;
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

.text-animator {
  font-size: 4em;
  text-align: center;

  h1 {
    font-size: 1em;
    font-weight: normal;
  }

  p {
    margin: 0;
  }

  @media (max-width: 1024px) {
    font-size: 3.5rem;
  }

  @media (max-width: 768px) {
    font-size: 2.5em;
  }
}

.dynamic-text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  font-weight: $font-weight-bold;
  animation: none;
  min-height: 1.5em;

  @media (max-width: 426px) {
    white-space: normal;
    text-align: center;
  }
}
