// Chemin vers les fichiers de police
$font-path: '../fonts/';

// Inclusion des polices
@font-face {
  font-family: 'Courier Prime';
  src: url('#{$font-path}CourierPrime-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Courier Prime';
  src: url('#{$font-path}CourierPrime-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Courier Prime';
  src: url('#{$font-path}CourierPrime-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Courier Prime';
  src: url('#{$font-path}CourierPrime-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
