/* Variables de couleurs */

// Couleurs de base
$color-black: #121212; 
$color-white: #FAFAFA; 
$color-dark-gray: #1A1A1A; 
$color-light-gray: #F5F5F5; 
$color-electric-blue: #007BFF;

// État des éléments
$color-success: #e8f5e9; 
$color-warning:#fff3e0; 
$color-danger: #ffebee; 

// Texte
$color-text-dark: $color-black; 
$color-text-light: $color-white; 
$color-text-muted: #666666; 

/* Variables de polices */

$font-family-primary: 'Courier Prime', monospace;
$font-weight-normal: normal;
$font-weight-bold: bold;

/* Variables de tailles */

$max-width-desktop: 1440px;
$max-width-large: 3840px;
$min-width-mobile: 320px;