// Variables de couleurs
$primary-color: #007bff;
$secondary-color: #6c757d;
$tertiary-color: whitesmoke;
$tag-primary-color:$primary-color;
$tag-secondary-color: #e8f5e9;

// Variables de police
$font-family-primary: 'Courier Prime', monospace;
$font-weight-normal: normal;
$font-weight-bold: bold;
