// Variables de couleurs
$primary-color: #007bff;
$secondary-color: #6c757d;

// Variables de police
$font-family-primary: 'Courier Prime', monospace;
$font-weight-normal: normal;
$font-weight-bold: bold;
