@import "./variables";
@import "./mixins";
@import "./fonts";
@import "./components/textAnimator";
@import "./components/imageAnimator";
@import "./components/socialMedia";
@import "./components/projectsPage";
@import "./components/methodologyPage";
@import "./components/aboutPage";
@import "./components/contactPage";
@import "./components/darkMode";
@import "./components/notFound";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

/* GENERALITES */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: $font-family-primary;
}

#root {
  @include container-sizing($max-width-large);
  @include flex-column;
  height: 100vh;
}

.app {
  @include flex-column;
  flex: 1;

  /* Pour les très grands écrans (2560px, 1440px) */
  @media (min-width: 1440px) {
    @include flex-center;
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
  }

  /* Version pour les écrans entre 768px et 1024px */
  @media (min-width: 768px) and (max-width: 1024px) {
    padding: 5rem 5rem 5rem; 
  }

  /* Version pour les écrans entre 425px et 768px */
  @media (min-width: 425px) and (max-width: 767px) {
    padding: 5rem 0 10rem; 
  }

  /* Pour les très petits écrans, entre 320px et 425px */
  @media (max-width: 425px) {
    padding: 5rem 0 12.5rem; 
  }
}

.main-centered {
  @include flex-column;
  @include flex-center;
  width: 100%;
  text-align: center;
}

h1 {
  font-size: 2rem;
  color: $color-black;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.5rem;
  color: $color-electric-blue;
}

p {
  line-height: 1.5;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/********** ACCESSIBILITÉ **********/

/* LIEN D'ÉVITEMENT */

.skip-link {
  position: absolute;
  left: -9999px;
}

.skip-link:focus {
  left: 10px;
  top: 10px;
  background: $color-white;
  color: $color-text-dark;
  padding: 5px;
  z-index: 1000;
}

/* LECTEUR D'ÉCRAN */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/********** SPÉCIFICITÉS COMMUNES **********/

/* NAVIGATION */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-black;
  padding: 1em;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
}

.nav-buttons {
  display: flex;
  justify-content: center;
  flex: 1;
  flex-wrap: wrap;


  @media (max-width: 426px) {
    margin: 10px auto;
    gap: 1.5em;
  }
}

.button,
button {
  background-color: $color-electric-blue;
  font-family: "Courier Prime", monospace;
  border: none;
  padding: 0.5em 1em;
  margin: 0.5em;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  color: $color-text-dark;

  &:hover {
    background-color: darken($color-electric-blue, 10%);
  }

  @media (max-width: 426px) {
    font-size: 0.9rem; 
  }
}

/* INTRO */

.intro {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 1000px;
  text-align: left;
}

/* STYLE POUR LA BARRE DE DÉFILEMENT */

::-webkit-scrollbar {
  width: 5px;
  background-color: $color-black;
}

::-webkit-scrollbar-thumb {
  background-color: $color-electric-blue;
  border-radius: 5px;
}

/* Pour Firefox */
.scrollable {
  scrollbar-width: thin;
  scrollbar-color: $color-electric-blue;
}

.link:focus {
  outline: 2px solid $color-electric-blue;
}
