@import "./variables";
@import "./mixins";
@import "./fonts";
@import "./components/textAnimator";
@import "./components/imageAnimator";
@import "./components/socialMedia";
@import "./components/projectsPage";
@import "./components/methodologyPage";
@import "./components/aboutPage";
@import "./components/contactPage";
@import "./components/darkMode";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

/* GENERALITES */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: $font-family-primary;
}

#root {
  @include container-sizing($max-width-large);
  @include flex-column;
  height: 100vh;
}

.app {
  @include flex-column;
  height: 100%;
}

h1 {
  font-size: 2rem;
  color: $color-black;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.5rem;
  color: $color-electric-blue;
}

p {
  line-height: 1.5;
}

/* MAIN */

// Style spécifique pour la page d'accueil

.main-centered {
  display: flex;
}

// Style pour les autres pages

main {
  flex: 1;
}

.main-default {
  padding: 1em;
  overflow-y: auto; /* Permet le défilement si le contenu dépasse */
}

/* Style pour la barre de défilement */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: $color-electric-blue;
  border-radius: 5px;
}

/* Pour Firefox */
.scrollable {
  scrollbar-width: thin;
  scrollbar-color: $color-electric-blue;
}

/* INTRO */

.intro {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 1000px;
  text-align: left;
}

/* NAVIGATION */

footer {
  display: flex;
  align-items: center;
  background-color: $color-black;
  padding: 1em;
  position: relative;
  justify-content: center;
}

.logo-button {
  margin-right: auto;
}

.logo {
  height: 25px;
}

.nav-buttons {
  display: flex;
  justify-content: center;
  flex: 1;
  flex-wrap: wrap;

  @media (max-width: 426px) {
    margin: 10px auto;
  }
}

button {
  background-color: $color-electric-blue;
  font-family: "Courier Prime", monospace;
  border: none;
  padding: 0.5em 1em;
  margin: 0.5em;
  cursor: pointer;
  border-radius: 5px;

  &:hover {
    background-color: darken($color-electric-blue, 10%);
  }
}
